@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth !important;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rectangle:after {
  content: "";
  display: block;
  padding-bottom: 70%;
}

.anchor{
  display: block;
  position:absolute;
  top:-20rem;
  visibility: hidden;
}